[submodule "submodules/chaquopy-wheels"]
	path = submodules/chaquopy-wheels
	url = https://github.com/emanuele-f/chaquopy-wheels
[submodule "submodules/mitmproxy"]
	path = submodules/mitmproxy
	url = https://github.com/emanuele-f/mitmproxy
	branch = pcapdroid-11.0.0
