<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.emanuelef.remote_capture" />
        <package android:name="com.emanuelef.remote_capture.debug" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- PyApplication is equivalent to Python.start -->
    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        tools:targetApi="m">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddonsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".JsInjectorActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".AddonsActivity" />

        <service
            android:name=".MitmService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            tools:ignore="ExportedService">

            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="run mitmproxy in the background"/>
        </service>
    </application>
</manifest>
