<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.pcapdroid.permission.MITM"
        android:label="@string/mitm_permission_label"
        android:description="@string/mitm_permission_descr"
        android:protectionLevel="dangerous"
        android:permission="com.pcapdroid.permission.MITM"
        tools:targetApi="s" />

    <!-- PyApplication is equivalent to Python.start -->
    <application
        android:name="com.chaquo.python.android.PyApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true">

        <service
            android:name=".MitmService"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>
</manifest>